.contenedor-perfil {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.imagen-perfil{
    border-radius: 50%; 
    width: 250px; 
    height: 250px;
    border: 2px solid black;
    object-fit: cover;
}

.letra-god{
    font-style: italic;
    font-family: Arial;
    color: blueviolet;
    font-size:xx-large;
}

ul,ol li{
    font-size: x-large;
    color: blue;
}
